
body
{
    background-color:#151515;
    background-image:linear-gradient(to left, #0000ff, black);
    color: #f6f6fc;
}

.menu {
    background-image:linear-gradient(to left, #AADDFF, #CCCCCC);
    border: 5pt;
    padding: 15pt;
    color: darkslategrey;
    border-radius: 25pt;
    border-style: solid;
    border-color: whitesmoke;
}

.coordonnees ul {
    list-style: none;
}

.entete-cv {
    margin-top: 30pt;
}

.photo img {
    width: 200pt;
}

.accroche {
    font-size: 200%;
}
.debug {
    background-color: coral;
}
